@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color:black;
}

.show{
  animation: showMenu 1s ease-in-out 0ms 1;
  animation-fill-mode: forwards;
}

#home_img{
  background-image: url('./images/gallery05.png');
}
#gallery_img{
  background-image: url('./images/galleryback.jpg');
}
#home_img,#gallery_img{
  /* background-image: url('./images/gallery05.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  inset: 0;
  z-index: -10;
}


/* #home_img::after,#gallery_img::after{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
} */

/* #Gallery{
  background-image: url('./images/gallery05.png');

} */

@keyframes showMenu {
  0%{
    transform : scale(2)
  }
  50%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}